@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,700&display=swap');

* {
	margin:0px;
	padding:0px;
	border: 0px;	
	list-style: none;
	box-sizing: border-box;
} 

body  {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #000000; 
}

/*---------------------------HEADER-------------------------- */

header {
	width: 100%;
	height: 195px;
	background: #0F0F0F;
	
}
h1 {
	color: #000000;
	font-family: 'Alegreya Sans';
	font-weight: 700;
	font-size: 18px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2px 2px 2px 2px;
	width: 130px;
	background: #FFFFFF;
	border-radius: 20px;
}

#barra-busqueda {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 9px 30px;
	gap: 704px;
}

/*----------------------------MAIN-------------------------*/
/*
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
*/

/*---------------------estilos tipográficos-------------*/
h2{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	text-align: center;
	color: #000000;
}

h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
}

h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #000000;
}


		
/*---------------------------------- PORTADA CARRUSEL --------------------------------------*/
#carrusel-portada{
	position: relative;
}

#conte-item-carrusel{
	width: 100%;
	height: 600px;
	overflow:hidden;
	/*--- no sé como darle un alto con el overflow, si le doy en % se me sale todo del contenedor---*/
}

.portada-item-carrusel {
	position: relative;
	
}
/*.portada-tarjeta-carrusel{
	height: 100%;
	width: 100%;
	
}*/

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.portada-carrusel-botones {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.foto_card_producto {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

#conte-puntos{
	display: flex;
	justify-content: space-between;
	gap:20px;
	position: absolute;
	top: 530px;
	left: 50%;
}

#conte-puntos a{
	font-size: 70px;
	color:rgba(110,110,110,0.65)
}



/*----------------------------*/
 
/*--------------------------------------- CARD PRODUCTO ----------------------------------*/
.card_producto {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px 10px 10px;
	gap: 20px;
	height: 430px;
}

.card_producto:hover {
	box-shadow: 1px 1px 8px rgba(0,0,0,0.20);
	border-radius: 10px;
}

.foto_card_producto {
	width: 200px;
	height: 280px;
	padding-bottom: 5px;
}


.card_datos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.card_botones{
	display: none;
}

.card_producto:hover .card_botones {
	display: block;
	
}

/*----- ESTILOS TIPOGRAFÍCOS ----*/

.card_precios {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	}

.card_cuotas{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	color: #000000
}

.card_boton_comprar {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
	
	background: #000000;
	padding: 5px 10px 5px 10px;
	border-radius: 20px;
	
	cursor: pointer;
}

.card_boton_ver{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	color: #000000;
	background-color: white;
	
	border: 2px solid #000000;
	border-radius: 20px;
	padding: 4px 10px 4px 10px;
		
	cursor: pointer;
}

