@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,700&display=swap&family=Alegreya+Sans+SC&family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap&family=Open+Sans:wght@400;700&display=swap');



* {
	margin:0px;
	padding:0px;
	border: 0px;	
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
} 

body  {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000000; 
	width: 100%;
	height: 100%;
}


/*---------------------------HEADER-------------------------- */

header{
	width: 100%;
	height: auto;
	background-color: black;
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	
}



h1 {
	color: #000000;
	font-family: 'Alegreya Sans';
	font-weight: 700;
	font-size: 18px;
	height: 30px;
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;*/
	padding: 5px 10px 5px 10px;
	background: #FFFFFF;
	border-radius: 20px;
}

.botondebarrabusqueda {
	background-color:white;
	position: relative;
	right: 30px;
	top:1px;
}

.barra-busqueda input {
	height: 40px;
	border-radius: 10px;
}

.headericonos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	width: 90%;
}

.botonera {
	width: 100%;
	height: auto;
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:40px;	
}

.botonera  ul {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:30px;
}

.botonera a {
	color: white;
	text-decoration: none;
}

.iconosdeheader {  
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	gap:30px;
}  

.iconosdeheader div {
	display: flex;
	flex-direction: column;
	gap:10px;
	align-items: center;
	justify-content: space-between;
}

.iconosdeheader p {
	color: white;
}

.productos_nav {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}


.productos_nav .menudesplegable  {
	display: none;
	background-color: black;
	width: 1920px;
	align-items: flex-start;
	gap:30px;
}

.botonera li :hover {
	color: yellow;
}

.botonera .productos_nav:hover .menudesplegable {
	display: flex;
	flex-direction: row;
	
}


/*--- header 600 ---*/
.header_carrito {
	display:none;
}

.header_600 {
	display: none;
	width: 100%;
	background-color: black;
}

.header_600_iconos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#toggle {
    display: none;
}



/*-------------------------------------------------MAIN--------------------------------------------------*/
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*-------------------------------------------estilos tipográficos generales---------------------------------*/
h2{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	text-align: center;
	color: #000000;
}


h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
}

h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #000000;
}


h5{
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 78px;
color: #000000;
padding: 50px 0px;


}


/*---------------------------------------------------------- INDEX ------------------------------------------------------*/


/*-------------------- PORTADA CARRUSEL ---------------------*/


#carrusel-portada{
	
	padding-bottom: 30px;
}

#conte-item-carrusel{
	width: 100%;
	height: 600px;
	overflow:hidden;
}


.portada-item-carrusel {
	position: relative;	
} 

.portada-item-carrusel img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.portada-carrusel-botones {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/*#conte-puntos{
	display: flex;
	justify-content: space-between;
	gap:20px;
	position: absolute;
	top: 530px;
	left: 50%;
}

#conte-puntos a{
	font-size: 70px;
	color:rgba(110,110,110,0.65)
}


/*--------------CARRUSELES PRODUCTOS----------*/
 
/*---------- CARD PRODUCTO ------------*/
.card_producto {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px 10px 10px;
	gap: 20px;
	height: 430px;
	object-fit: cover;
}

.card_producto:hover {
	box-shadow: 1px 1px 8px rgba(0,0,0,0.20);
	border-radius: 10px;
}

/*.foto_card_producto {
	height: 100%;
	width: 100%;
	object-fit: cover;
}*/

.foto_card_producto {
	width: 200px;
	height: 280px;
	padding-bottom: 5px;
} /*cambiar en el vestidos*/

.card_datos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.card_botones{
	display: none;
}

.card_producto:hover .card_botones {
	display: block;
	
}

/*----- ESTILOS TIPOGRAFÍCOS ----*/

.card_precios {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	}

.card_cuotas{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	color: #000000
}

.card_boton_comprar {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
	
	background: #000000;
	padding: 5px 10px 5px 10px;
	border-radius: 20px;
	
	cursor: pointer;
}

.card_boton_ver{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	color: #000000;
	background-color: white;
	
	border: 2px solid #000000;
	border-radius: 20px;
	padding: 4px 10px 4px 10px;
		
	cursor: pointer;
}



/*-----------CARRUSEL PRODUCTOS ---------*/

.main-carousel {
	width: 1200px;
	height: 470px;
	overflow: hidden;
	padding-top: 20px;
}

.carousel-cell {
	height: 450px;
	padding: 0 10px 0 10px;
}
.productos_categorias {
	padding: 30px 0 10px 0;
	
}

/*------------------ INSTAGRAM ----------------*/
.logo_instagram {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:10px;
}

.instagram {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	padding-bottom: 40px;
}

.instagram input {
	background: white;
	padding: 5px 25px 5px 25px;
	border-radius: 20px;
	border: 1px solid;
	border-color: rgba(0,0,0,1.00);
	cursor: pointer;
	text-transform: lowercase;
	font-size: 16px;
	font-family: Alegreya Sans SC;
	font-style: normal;
	font-weight: 400;
}


/*----*/

.titulo_600 {
	display: none;
}
/*-------------------------------------------- QUIENES SOMOS HTML ------------------------------------------*/

.titulo {
	
	padding-right: 20px;
	width: 325px;
	height: 218px;
}


.informacion {
	display: flex;
	flex-direction: row;
}

.quienessomos {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	gap:5%;

}


.parrafodequienessomos p {
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 20px;

	color: #000000;
	gap:20px;

	
}


.parrafoenbold {
	font-style: italic;
	font-weight: 600;
	font-size: 18px;
	color: #000000;
	
}

.texto {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 20px;
	width: 100%;
	height: 1142px;
}

.iconowhatsapp {
	display: flex;
	align-content: flex-end;
	align-self: flex-end;
	width: 49px;
	height: 49px;
	right: 5px;


}

/*-------------------------------------------- VESTIDOS HTML ------------------------------------------*/

/*-------------TITULO---------------*/
.titulo_vestidos{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	gap: 20px;
}
.titulo_vestidos h2 {
	padding: 20px 0px 20px 0px;
}

#bajada {
	text-align: center;
}

.bajada_cuadro {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 40px;
}

.vestidos_categorias { 
	display: flex;
	flex-direction: column;
	gap: 14px;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 14px;
}
.vestidos{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 40px;
	gap: 17px;
}


/*--------------COLUMNA FILTROS-----------*/

.filtros {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	max-width: 200px;
}

.filtros_checkbox{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

label { 
	padding-left: 8px;
}


/*--------------COLUMNA ARTICULOS-----------*/

.articulos{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.articulos_filas {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	height: 420px;
}




.lifooter li {
	
} 

/*--------------FORMULARIO INDEX----------------*/

.formulario-newsletter{
	box-sizing: border-box;
	background-color: black;
	width: 100%;;
	height: 400px;
	padding-top: 5%;
}


.formulario-contenido{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 43px;
}

.formulario-contenido h2{
	color: white;
}

.parrafo-newsletter{
	color: white;
}

/*--------------------------------------EMPIEZA HTML DEVOLUCIÓN-------------------------------------------*/

/*-----------------------IMAGENENES DE DEVOLUCION-----------------------*/
.imgprincipal {
	display: flex;
	align-self: stretch;
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.capturadepantalla{
	width: 100%;
	height: 400px; 
	background:url("img/imgs-pantalla-devolución/devolucioncaptura_.png");
	background-repeat: no-repeat;
	background-size: contain;
	object-fit:cover;
}

/*esta es la section de la img*/
.politica {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	gap:50px;
	width: 100%;
}
/*-----------------------BLOQUES DE TEXTO/BODY DEVOLUCION-----------------------*/

/*la section de los bloques:*/
.bloquepolitica{
	width: 100%;
	padding-right: 15%;
}

/*ESTA ES LA ETIQUETA SPAN, osea el texto en bold*/
.bold{
	font-family: 'Montserrat';
	font-style: oblique;
	font-size: 20px;
}


/*en el div parrafos, agregué padding para separar la img del texto (antes se superponía todo feo)*/
.parrafos{
	display: flex;
flex-direction: column;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
gap: 20px;
}

/*----------------------------------------HTML CONSTRUCCION-------------------------------------------------*/


.construccion {
	width: 100%;
	display: flex;
	align-self: flex-start;
}

.web-en-construccion{
	display: flex;
	align-self: center;
	flex-direction: column;
	padding-left: 25%;
}

.web-en-construccion h2{
	padding: 50px 0px 30px;
}

/*-----------------------FOOTER-----------------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #E5E5E5;
}

.footer-bloque{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 50px 250px 30px;
	border-bottom: 2px solid #A2A2A2;
}


.lifooter{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}

footer h3 {
	padding-bottom: 20px;
}
/*------------------divs de footer---------------------*/
.queesbimba{
	width: 318.72px;
	height: 358px;

}

.categorias{
	width: 300px;
	height: 357.84px;
	padding: 0px 40px 0px 50px;
}

.categorias2{
	width: 400px;
	height: 273px;
	padding: 0px 40px 0px 50px;
}


/*en el div contactanos se me complica hacer que los divs q contiene se separen en columnas*/
.contactanos{
	display: flex;
	width: 266px;
	flex-direction: column;
	padding: 0px 40px 0px 50px;
}

.contactanos li{
	display: flex;
	align-items: center;
}

.contactanos img{
	margin-right: 10px;
}

.imgs-contactanos img{
	width:auto;
	height: auto;
	
}

.sigamosconectados{
	width: 500px;
	height: 108.875px;
	flex-shrink: 0;
	padding: 0px 40px 0px 50px;
}

/*-------------------ULTIMAS PARTES DEL FOOTER--------------*/
.mediosdepago{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5%;
	height: 92px;
}



.imgsdepago{
display: flex;
align-items: center;
}

.copyright{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	width: 100%;
	height: 66px;
	background: #0F0F0F;
}

.imgsdepago ul{
	display: flex;
	align-items:center;
	flex-direction: row;
}

.p5{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.01em;
	text-align: left;
	color: #FFFFFF;
}

.p4{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;

}
/*---------------------------TERMINA FOOTER---------------------------------------------------------------*/


/*-----------------------FOOTER-----------------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #E5E5E5;
}

.footer-bloque{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 50px 30px;
border-bottom: 2px solid #A2A2A2;
}


.lifooter{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}

.footer-bloque h3 {
	padding-bottom: 20px;
}
/*------------------divs de footer---------------------*/
.queesbimba{
max-width: 318px;
height: 358px;
}

.categorias{
height: 357.84px;
padding: 0px 40px 0px 50px;
}

.categorias2{
height: 273px;
padding: 0px 40px 0px 50px;
}


/*en el div contactanos se me complica hacer que los divs q contiene se separen en columnas*/
.contactanos{
display: flex;
flex-direction: column;
padding: 0px 40px 0px 50px;
}

.contactanos li{
	display: flex;
	align-items: center;
}

.contactanos img{
	margin-right: 10px;
}

.imgs-contactanos img{
	width:auto;
	height: auto;
	
}

.sigamosconectados{
height: 108.875px;
flex-shrink: 0;
padding: 0px 40px 0px 50px;
}

/*-------------------ULTIMAS PARTES DEL FOOTER--------------*/
.mediosdepago{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5%;
	height: 92px;
}
.imgsdepago{
display: flex;
align-items: center;
}

.copyright{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	width: 100%;
	height: 66px;
	background: #0F0F0F;
}

.imgsdepago ul{
	display: flex;
	align-items:center;
	flex-direction: row;
}

.p5{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.01em;
	text-align: left;
	color: #FFFFFF;
}

.p4{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;

}
/*---------------------------TERMINA FOOTER---------------------------------------------------------------*/

/*-------------------------------------------@MEDIA DE INDEX---------------------------------------*/

@media screen and (max-width: 600px){

	/*-----header-----*/
	main {
		overflow: hidden;
	}
	
	header {
		width: 100%;
		height: 220px;
		position: relative;
	}
	
	.headericonos {
		display: none;
	}
	
	.header_600 {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
	
	.iconosdeheader {
		display: none;
	}
	
	.header_carrito {
		display: flex;
		flex-direction: column;
		gap: 10;
		align-items: center;
	}
	
	.barra-busqueda input {
		height: 50px;
		max-width: 530px;
		border-radius: 30px;
		padding: 10px;
		font-size: 20px;
	}
	
	.botonera {
		display: none;
	}
	
	h1 {
		color: #000000;
		font-family: 'Alegreya Sans';
		font-weight: 700;
		font-size: 30px;
		height: 45px;
		padding: 10px 10px 10px 10px;
		background: #FFFFFF;
		border-radius: 25px;
	}
	
	.header_carrito img {
		height: 45px;
		width: 45px;
	}
	
	.header_600_iconos {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0px 30px 0px 30px;
	}
	
	/*----*/ 

	
	.header_600_menu_hamburguesa {
		display: flex;
		flex-direction: column;
		font-size: 60px;
		font-weight: bold;
		color: white;
	}
	

	/*-------main---------*/
	
	/*--portada--*/
	#conte-item-carrusel{
		width: 100%;
		height: 680px;
		overflow:hidden; 
	}
	
	
	.portada-item-carrusel {
		position: relative;	
	} 

	.portada-item-carrusel img {
		width: 100%;
		height: 680px;
		overflow: hidden;
		object-fit:cover;
	}

	/*--secciones*/
	
	.titulo_marcas_600 {
		display: none;
	}
	
	.titulo_600 {
		display: flex;
		flex-direction: column;
		gap: 25px;
		
	}
	.titulo_600 h2{
		font-size: 40px;
		text-align: center;
	}
	
	
	/*------carrusel productos-----*/
 
	.card_producto {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 10px 10px 10px;
		gap: 20px;
		height: 740px;
		object-fit: cover;
	}

	.foto_card_producto {
		width: 360px;
		height: 550px;
		padding-bottom: 5px;
	}

	.card_datos{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}

	

	/*--------*/

	.card_precios {
		font-size: 30px;
		}

	.card_cuotas{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		color: #000000
	}

	.card_boton_comprar {
		font-size: 20px;
	}

	.card_boton_ver{
		font-size: 20px;
	}
	
	.card_datos {
		font-size: 20px;
	}

	/*-------*/

	.main-carousel {
		width: 600px;
		height: 770px;
		overflow: hidden;
		padding-top: 40px;
	}

	.carousel-cell {
		height: 100%;
		padding: 0 10px 0 10px;
	}
	
	.productos_categorias {
		padding: 40px 0 40px 0;

	}
	
	/*----FORMULARIO INDEX-------*/

	.formulario-newsletter{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: black;
		width: 100%;
		height: 600px;
		
	}


	.formulario-contenido{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	.formulario-contenido h2{
		color: white;
		font-size: 50px;
		line-height: 60px;
	}
	
	.parrafo-newsletter{
		color: white;
		font-size: 20px;
		text-align: center;
	}
	
	.barra-busqueda input {
		height: 70px;
		font-size: 25px;
	}
	
	.barra-busqueda img {
		width: 25px;
		height: 25px;
	}
	
	/*--------------html- en construccion------------*/
	
	.construccion{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.web-en-construccion{
		padding: 0px;
		gap: 10px;
		padding-bottom: 10%;
		
	}
	
	/*----------footer-----------*/
	
	footer background { /*no se extiende el fondo*/
		width: 100%;
	}
	
	footer p, h3, img, li {
		text-align: start;
	}
	
	.lifooter img{
		width: 10%;
	}
	
	.sigamosconectados img {
		width: 30%;
	}
	.footer-bloque {
		flex-direction: column; /*parece funcionar*/
	}
	.categorias, .contactanos, .sigamosconectados {
		width: 100%;
		height: 100%;
		padding-bottom: 20%;
	}
	
	.sigamosconectados {
		padding-bottom: 5%;
	}
	
	.sigamosconectados img {
		width: 50px;
		height: 50px;
	}
	
	.queesbimba {
		width: 100%;
		padding-left: 13%;
		padding-bottom: 20%;
		height: 100%;
	}
	
	.copyright p {
		font-size: 8px;
	}
	
	.mediosdepago{
		flex-direction: column;
		padding-bottom: 25%;
		padding-top: 25%;
	}
	
	
	.imgsdepago{
		flex-direction: column;
	}
	.imgsdepago ul {
		flex-direction: row;
	}
	
	.codigo-seguridad{
		padding-top: 5%;
	}
}

/*------------------------------------ MEDIA ----------------------------------*/


@media screen and (max-width: 1200px) {
	
}

